*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 576px) {
    *{}

    li.nav-item.active {
        margin-top: 5px;
    }

    #contact li.list-inline-item {
        margin-bottom: 20px;
    }

    button.navbar-toggler.hidden-sm-up.float-xs-right {
        border: 1px solid white;
    }

    .navbar-toggler {
        width: 2.5em;
        height: 2em;
        padding: .5rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background: #ecf0f1 no-repeat center center;
        -webkit-background-size: 24px 24px;
        background-size: 24px 24px;
        border: 1px solid transparent;
        border-radius: .25rem;
    }

    nav.navbar.navbar-light.bg-faded.menu-top.navbar-fixed-top.shrink a.navbar-brand {
        margin-top:0px!important;
        font-weight: inherit!important;
    }

    nav.menu-top ul.nav.navbar-nav {
        padding-top: 35px;
    }

    nav.menu-top ul.nav.navbar-nav.shrink {
        padding-top: 50px;
        display: inline-block;
        transition: 0.4s all;
    }

    nav.menu-top ul.nav.navbar-nav>li {
        border-bottom: 1px solid;
    }

    button.navbar-toggler.hidden-sm-up.float-xs-right {
    }

    nav.menu-top a.navbar-brand {
        margin-top: 0px;
        margin-left: 0px;
    }

    nav.navbar.navbar-light.bg-faded.menu-top.navbar-fixed-top {
        background: #2f2933!important;
    }
}

nav.navbar.navbar-light.bg-faded.menu-top.navbar-fixed-top.shrink ul li a.nav-link.active {
    color: #04bfc3!important;
}

nav.navbar.navbar-light.bg-faded.menu-top.navbar-fixed-top.shrink a.navbar-brand {
    color: #ffffff!important;
    display: inline-block;
    margin-top: 10px;
    font-weight: 700;
}

nav.navbar.navbar-light.bg-faded.menu-top.navbar-fixed-top.shrink a.navbar-brand:hover{
    color: #04bfbf!important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .active>.nav-link:focus, .navbar-light .navbar-nav .active>.nav-link:hover, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.active:focus, .navbar-light .navbar-nav .nav-link.active:hover, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.open:focus, .navbar-light .navbar-nav .nav-link.open:hover, .navbar-light .navbar-nav .open>.nav-link, .navbar-light .navbar-nav .open>.nav-link:focus, .navbar-light .navbar-nav .open>.nav-link:hover {
    color: white;
}

nav.menu-top a.nav-link:hover {
    color: #04bfbf!important;
}

nav.menu-top a.navbar-brand:hover {
    color: #04bfbf!important;
}

nav.menu-top a.nav-link, a.navbar-brand {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 22px;
    transition: 0.4s all;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

#footer small {
    font-size: 16px;
}

#about{
    padding-bottom: 150px;
    padding-top: 150px;
}

#portfolio {
    padding-top: 150px;
    padding-bottom: 150px;
}

.bg-gray {
    background-color: #ecf0f1;
}

#footer {
    padding-bottom: 40px;
    padding-top: 40px;
    background: #ecf0f1;
}

#portfolio .project-name {
    padding-top: 90px;
}

#portfolio .portfolio-hover {
    position: absolute;
    background: rgba(4, 191, 195, 0.85);
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 35px;
    line-height: 28px;
    z-index: 2;
    transition: 0.6s all;
    visibility: hidden;
    opacity: 0;
}


#portfolio .portfolio-link {
    position: relative;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    max-width: 400px;
    transition: 0.4s all;
    margin-bottom: 30px;
}

#portfolio a.portfolio-link:hover .portfolio-hover {
    opacity: 1;
    visibility: visible;
}

#contact {
    padding-bottom: 100px;
    padding-top: 150px;
}

#contact a:hover {
    color: #ffffff!important;
}

#contact a {
    color: #2f2933;
    border: 1px solid #2f2933;
    display: inline-block;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    font-size: 12px;
    padding: 30px;
    background: #ecf0f1;
    border-color: transparent;
    margin: 0 35px;
}

#contact a.social-mail:hover {
    background-color: #d44836;
}

#contact a.social-phone:hover {
    background-color: #1b9a1bd4;
}

#contact a.social-instargram:hover {
    background-color: #e13d63;
}

#contact a.social-pinterest:hover {
    background-color: #c9232d;
}

#contact a.social-linkedin:hover {
    background-color: rgb(0, 119, 181);
}

#contact a.social-fb:hover {
    background: #3c5a9a;
}

#skill {
    padding-top: 100px;
    padding-bottom: 100px;
}

p.text-muted {
    margin-bottom: 80px;
}

#skill p.text-muted {
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

hr {
    max-width: 50px;
    margin-bottom: 10px!important;
    margin-top: 10px!important;
    border-top: 3px solid #a1b1bc;
    margin: auto;
}

h2.title {
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: #2f2933;
}

h4.question {
    color: #04bfbf;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    font-style: normal;
}

#banner a.btn.btn-xl.btn-primary {
    text-transform: uppercase;
    font-weight: 600;
    padding: 20px 40px;
    font-size: 18px;
    color: #ffffff;
    background: #2f2933ad;
    border: none;
}

#banner a.btn.btn-xl.btn-primary:hover {
    background: #000000b8;
    color:#13d7d7;
}

#banner h4.sub-heading {
    margin-bottom: 40px;
    margin-top: 15px;
    font-size: 40px;
    text-transform: capitalize;
    color: #fff;
}

#banner h1.heading {
    font-size: 108px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0px;
    letter-spacing: 0px;
    color: #ffffff;
    transition: 0.4s all;
}


h1.heading {}

nav.navbar.navbar-light.bg-faded.menu-top.navbar-fixed-top {
    background: transparent;
}

nav.navbar.navbar-light.bg-faded.menu-top.navbar-fixed-top.shrink {
    background: #2f2933;
    transition: 0.4s all;
}

nav.navbar.navbar-light.bg-faded.menu-top.navbar-fixed-top.shrink ul li a {
    color: #ffffff!important;
    font-weight: 700;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 2px;
}

nav.navbar.navbar-light.bg-faded.menu-top.navbar-fixed-top.shrink ul li a:hover {
    color: #13d7d7!important;
}

nav.navbar.navbar-light.bg-faded.menu-top.navbar-fixed-top.shrink ul {
}

div#banner {
    background-image: url(images/banner-dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    padding-top: 250px;
    padding-bottom: 150px;
}

body{
    font-family: 'Lato', sans-serif;
}

/* font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif; */


/* progress bar skills */



/* Styling an indeterminate progress bar */

progress:not(value) {
    /* Add your styles here. As part of this walkthrough we will focus only on determinate progress bars. */
}

/* Styling the determinate progress element */

progress[value] {
    /* Get rid of the default appearance */
    appearance: none;

    /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
    border: none;

    /* Add dimensions */
    width: 100%; height: 20px;

    /* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
      background-color: whiteSmoke;
      border-radius: 3px;
      box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;

    /* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
    color: royalblue;

    position: relative;
    margin: 0 0 1.5em;
}

/*
Webkit browsers provide two pseudo classes that can be use to style HTML5 progress element.
-webkit-progress-bar -> To style the progress element container
-webkit-progress-value -> To style the progress element value.
*/

progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {
    position: relative;

    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;

    /* Let's animate this */
    animation: animate-stripes 5s linear infinite;
}

@keyframes animate-stripes { 100% { background-position: -100px 0; } }

/* Let's spice up things little bit by using pseudo elements. */

progress[value]::-webkit-progress-value:after {
    /* Only webkit/blink browsers understand pseudo elements on pseudo classes. A rare phenomenon! */
    content: '';
    position: absolute;

    width:5px; height:5px;
    top:7px; right:7px;

    background-color: white;
    border-radius: 100%;
}

/* Firefox provides a single pseudo class to style the progress element value and not for container. -moz-progress-bar */

progress[value]::-moz-progress-bar {
    /* Gradient background with Stripes */
    background-image:
    -moz-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -moz-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #f44);

    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;

    /* Firefox doesn't support CSS3 keyframe animations on progress element. Hence, we did not include animate-stripes in this code block */
}

/* Fallback technique styles */
.progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;

    /* Dimensions should be similar to the parent progress element. */
    width: 100%; height:20px;
}

.progress-bar span {
    background-color: royalblue;
    border-radius: 3px;

    display: block;
    text-indent: -9999px;
}

p[data-value] {

  position: relative;
}

/* The percentage will automatically fall in place as soon as we make the width fluid. Now making widths fluid. */

p[data-value]:after {
    content: attr(data-value) '%';
    position: absolute; right:0;
}





.html5::-webkit-progress-value,
.responsive::-webkit-progress-value  {
    /* Gradient background with Stripes */
    background-image:
    -webkit-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -webkit-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #f44);
}

.css3::-webkit-progress-value
{
    /* Gradient background with Stripes */
    background-image:
    -webkit-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -webkit-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #ff0);
}

.jquery::-webkit-progress-value
{
    /* Gradient background with Stripes */
    background-image:
    -webkit-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -webkit-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #690);
}

/* Similarly, for Mozillaa. Unfortunately combining the styles for different browsers will break every other browser. Hence, we need a separate block. */

.html5::-moz-progress-bar {
    /* Gradient background with Stripes */
    background-image:
    -moz-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -moz-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #f44);
}

.css3::-moz-progress-bar {
{
    /* Gradient background with Stripes */
    background-image:
    -moz-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -moz-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #ff0);
}

.jquery::-moz-progress-bar {
    /* Gradient background with Stripes */
    background-image:
    -moz-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -moz-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #690);
}

/* Now we are good to duplicate html code for other skills and then add the css code for the new skill based on data-skill */

/* animation */
